
  @import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap);

  @font-face{
    font-family: 'Rajdhani';
    src:url(./fonts/Rajdhani-Medium.ttf);
    font-family: 'Space Grotesk';
    src:url(./fonts/SpaceGrotesk-Bold.ttf),url(./fonts/SpaceGrotesk-Regular.ttf);
  }

body{
    background: black;
    color: white;
    border: 1px solid white;
    margin: 0 auto;
    padding: 10px 10px 10px 10px; 
    height: auto;
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 18px;
}
:root{
    --yellow-color:#ffff00;
    --yellow-light:#f8f184;
    --blue-color:#19587d82;
    --white-color:#ffffff;
    --gray-color:#C4C4C4;
    --gradient-white:#eddebf4b;
    --gradient-red:#89000952;
    --black-color:#000000;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 36px;
}
.container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
nav img:hover{
    background-color: var(--yellow-color);
}

ul{
    list-style: none;
}

ul a{
    color: var(--white-color);
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 500;
}
ul a:hover{
    color: var(--yellow-color);
}

#hero{
    background-image: url(../illustrations/Bathome1.png);
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    font-family:'Space Grotesk';
    font-size: 18px;
}
#hero .titre{
    margin: 30px 0;

}
.scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 100px;
  top: 250px;
}
.scroll .social{
    margin-top: 50px;
}
.scroll .bat_flèche_2{
    margin-top: 50px;
}
.btn {
  background:linear-gradient(
    80deg,var(--gradient-white),var(--gradient-red));
  font-family:'Rajdhani' ;
  font-size: 22px;
  padding: 20px 20px;
  margin-top: 10px;
  text-decoration: none;
  color:var(--white-color);
  box-shadow: var(--black-color) 5px 5px 60px;
  opacity: 40%;
}
.btn:hover{
    opacity: 100%;
}

.flèche_down{
    display: block;
    margin: 0 auto;
}

.batman_personnage{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.batman_personnage:hover{
    zoom: 105%;
}
.description{
    font-family: 'Space Grotesk';
    font-size: 22px;
    text-align: justify;
    margin-top: 40px;
    width:80%;

}
.sous_titre{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 22px;
}
h2{
    font-family: 'Space Grotesk';
    font-size: 22px;
    font-weight:500 ;
    text-align: center;
}
.nemesis_personnage{
    display: flex;
    justify-content: space-between; 
    margin-top: 40px; 
}
.nemesis_personnage:hover{
    zoom: 105%;
}
.logo_nemesis{
    position: relative;
    left: 250px;
    top: 100px;
}

.alliés_personnage{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.alliés_personnage:hover{
    zoom:105%
}
.ctn_img{
    width: 100%;
}
.left{
    float: left;
    margin-top: 100px;
    background-color: transparent;
    border: none;
}
.right{
    float: right;
    margin-top: 100px;
    background-color: transparent;
    border: none;
}
.slider_multimedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

.Bathome_ba1{
    width: 100%;
}
.action{
  padding: 15px;
  background-image: linear-gradient(
    to right,var(--gradient-white),var(--blue-color));
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.action .texte2 {
    font-size: 12px;
}
.action .texte{
    margin-top :10px; ;
}
.action .texte span {
    color: var(--yellow-color);
    font-weight: bold;
}
h3{
    font-size: 16px;
    margin-top: 10px;
}
.action h4{
    font-size: 14px;
    font-family: 'Rajdhani';
    font-weight: 500;
    margin-top: 10px;

}
#forme{
    border: 1px solid white;
    width: 1500px;
    background-image: linear-gradient(
        to right,var(--gradient-white),var(--blue-color));
    height: 850px;
    align-items: center;
    margin: 0 auto;
}
#form{
    margin: 0 auto;
    align-items: center;
}
.prenoms{
    font-size: 36px;
    margin-top: 30px;
    font-family: 'Rajdhani';
    font-weight:bold;
}
#email{
    width: 1000px;
    border-bottom: 1px solid var(--white-color);
    background-color: transparent;
    
}
#choix{
    border-bottom: 1px solid var(--white-color);

}
.souhaite{
    border-bottom: 1px solid var(--white-color);

}
.btn_bat{
    text-align: center;
}
.btn_bat a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    color:white;
    background: transparent;
    justify-content: space-between;
    border: 0.1px solid white;
    padding: 5px 10px;   
    font-size: 12px; 
    position: relative;
    top: 50px;
    right: 150px;
  }
.btn_bat a:hover {
  opacity: 100%;
}
#textarea{
    width: 1000px;
    background-color: transparent;
    border-style: none;
    height: 20px;
}
#CONFIRMER{
    background:linear-gradient(
     80deg,var(--gradient-white),var(--gradient-red));
    font-family:'Rajdhani' ;
    font-size: 22px;
    padding: 20px 20px;
    margin:0 auto;
    text-decoration: none;
    color:var(--white-color);
    box-shadow: var(--black-color) 5px 5px 60px;
    left:500px;
    position: relative;
    opacity: 40%;

      
}
#CONFIRMER:hover{
    opacity: 100%;
}
#citation{
    text-align: center;
}
.icon_guillemets_1{
    position: relative;
    right: 500px;

}
.icon_guillemets_2{
    position: relative;
    left: 500px;
}
.cit1{
    font-family: 'Space Grotesk';
    font-size: 18px;
    font-weight: bold;
}
.auteur{
    font-family: 'Space Grotesk';
    font-size: 12px;
    padding-top: 50px;
}

.point{
    color: #19587D;
}
.wb_projet{
    display:inline-flex;
    font-size: 10px;
    position: relative;
    left: 300px;
}
.icon2{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 400px;
}
.icon3{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 400px;
    top: -10px;
}
.Bathome12{
    position: relative;
    top: -3830px;
    left: 1050px;
}
.prenoms{
    text-align: center;
}
.hr{
    width:500px; 
    position:relative;
    left: -350px;
}
