
  @import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap);


body{
    background: black;
    color: white;
    border: 1px solid white;
    margin: 0 auto;
    padding: 10px 10px 10px 10px; 
    height: auto;
}
:root{
    --yellow-color:#ffff00;
    --yellow-light:#f8f184;
    --blue-color:#19587d;
    --white-color:#ffffff;
    --gray-color:#C4C4C4;

}
h1{
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 36px;
}
.container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
nav img:hover{
    background-color: var(--yellow-color);
}

ul{
    list-style: none;
}

ul a{
    color: var(--white-color);
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 500;
}
ul a:hover{
    color: var(--yellow-color);
}

#hero{
    background-image: url(/assets/illustrations/Bathome1.png);
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.story{
    text-align:center;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    top: 400px;
    position: relative;
    font-family:'Space Grotesk';
    font-size: 18px;

}
.icon{
    float: right;
    display:grid;
    justify-content:space-between;
    
}
.btn{
    display: flex;
    justify-content: space-between;
}
#btn1{
    background-image: linear-gradient(to right,#eddebf,#890008);
    opacity: 40%;
    border: 0px;
    width: 250px;
    height: 70px;
    color:white;
    font-family: 'Rajdhani';
    font-size: 20px;
}
#btn1:hover{
    opacity: 100%;
}
#btn2{
    background-image: linear-gradient(to right,#eddebf,#890008);
    opacity: 40%;
    border: 0px;
    width: 250px;
    height: 70px;
    color:white;
    font-family: 'Rajdhani';
    font-size: 20px;
}
#btn2:hover{
    opacity: 100%;
}
.logo_bat_flèche{
    position: relative;
    right: 100px;
    top: 150px;
}
.icon_facebook{
    position: relative;
    right: 60px;
    top: 180px;

}
.icon_ig{
    position: relative;
    right: 60px;
    top: 200px;
}
.icon_tw{
    position: relative;
    right: 60px;
    top: 220px;
}
.logo_bat_flèche_2{
    position: relative;
    right: 100px;
    top: 250px;
}
.flèche_down{
    position: relative;
    left: 700px;
}

.batman_personnage{
    display: flex;
    justify-content: space-between;
}
.batman_personnage p{
    text-align: center;
}
.batman_personnage:hover{
    zoom: 105%;
}
h2{
    font-family: 'Space Grotesk';
    font-size: 22px;
    font-weight:500 ;
    text-align: center;
}
.nemesis_personnage{
    display: flex;
    justify-content: space-between;  
}
.nemesis_personnage:hover{
    zoom: 105%;
}
.logo_nemesis{
    position: relative;
    left: 250px;
    top: 100px;
}
.nemesis_personnage p{
    text-align: center;
}

.alliés_personnage{
    display: flex;
    justify-content: space-between;
}
.alliés_personnage p{
    text-align: center;
}
.alliés_personnage:hover{
    zoom:105%
}

.Bathome_ba1{
    position: relative;
    left: 300px;
}
.flèche_icon{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -600px;
}
.action{
    width: 400px;
    border: 1px solid white;
    font-size: 12px;
    position: relative;
    left: 300px;
    background-image:linear-gradient(to right,#c4c4c4,#19587D) ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.action_ba1{
    display: inline-flex;
}

.ctn_multi{
    display: flex;
    align-items: center;
    
    
}
.flèche{
 width: 20px;
 border: transparent;
}

#forme{
    border: 1px solid white;
    width: 1500px;
    background-image: linear-gradient(to right,#c4c4c4,#19587D);
    height: 750px;
    display:inline-block;
    
}
#form{
    position: relative;
    left: 300px;
}
#email{
    width: 1000px;
    border-style:none;
    background-color: transparent;
    text-decoration: overline;
}
#choix{
    text-decoration:underline;
}
#btn_form1{
    position: relative;
    left: 300px;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
}
#btn_form2{
    position: relative;
    left: 300px;
    text-decoration: none;
    background-color: transparent;
}
#btn_form3{
    position: relative;
    left: 300px;
    text-decoration: none;
    background-color: transparent;
}

#textarea{
    width: 1000px;
    background-color: transparent;
    border-style: none;
    height: 20px;
}
#CONFIRMER{
    position: relative;
    left: 300px;
    background-image: linear-gradient(to right,#eddebf,#890008);
    opacity: 40%;
    border: 0px;
    width: 250px;
    height: 70px;
    color:white;
    font-family: 'Rajdhani';
    font-size: 20px;
}
#CONFIRMER:hover{
    opacity: 100%;
}
#citation{
    text-align: center;
}
.icon_guillemets_1{
    position: relative;
    right: 500px;

}
.icon_guillemets_2{
    position: relative;
    left: 500px;
}
.cit1{
    font-family: 'Space Grotesk';
    font-size: 18px;
    font-weight: bold;
}
.auteur{
    font-family: 'Space Grotesk';
    font-size: 12px;
}

.point{
    color: #19587D;
}
.wb_projet{
    display:inline-flex;
    font-size: 10px;
    position: relative;
    left: 300px;
}
.icon2{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 400px;
}
.icon3{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 400px;
    top: -10px;
}
.Bathome12{
    position: relative;
    top: -3800px;
    left: 1050px;
}
.prenoms{
    text-align: center;
}
.hr{
    width:500px; 
    position:relative;
    left: -350px;
}